
    
       body { background-color: aliceblue;
         color: white;
        font-size:40px;


       }
       

    h1,h2,h3{color: black;
              font-size:40px;
    }
    

    div .class{
        background-color:lightblue;
        color: white;
        font-size:30px;
        width:fit-content;
        margin:10px
}


    header{ background-color: lightpink;
            color: black;
            font-size:50px;
            text-align:center;
    }
    
    footer{ background-color:lightpink;
            color: black;
            font-size:30px;
            text-align:center;
    }

    p {
        background-color:lightblue;
        color: white;
        font-size:30px;
      }

    ul,li{ background-color: lightblue;
           color: white;
           width:fit-content;
           text-align:left;
           margin:10px
    }

    .keypoints{font-size:40px;
               background-color:lightblue;
               color:black;
    }

    a:hover {color:pink;}

    a{
    color:black;
    text-decoration:none;
    font-size:50px;
    font-weight:bold;
    background-color:hotpink;
    }
     img{
    background-image:url("image/im.jpg");
    background-cover;
    width:100%;
    height:30%;
    margin:10px


    }
    


