
    
       body { background-color: aliceblue;
         color: white;
        font-size:40px;

       }
       
    h1,h2,h3{color: black;
              font-size:40px;
    }
    

    div.class{
        background-color:lightblue;
        color: white;
        font-size:30px;
        width:fit-content;
        margin:10px;
}


    header{ background-color: lightpink;
            color: black;
            font-size:50px;
            text-align:center;
    }
    nav{  text-align:center;
          padding:12px;
          
       }

nav a{ 
    color:black;
    text-decoration:none;
    color:black;
    font-size:40px;
    font-weight:bold;
    margin:3px 18px;
    background-color:deeppink;
    display:inline-block;
    }

nav a:hover{
         color:white;
         transition:0.3s;
}

    footer{ background-color:lightpink;
            color: black;
            font-size:30px;
            text-align:center;
    }

    p {
        background-color:lightblue;
        color: white;
        font-size:30px;
        width:fit-content;
      }

    ul,li{ background-color: lightblue;
           color: white;
           width:fit-content;
           text-align:left;
           margin:10px
    }

    .keypoints{font-size:40px;
               background-color:lightblue;
               color:black;
    }


     img{
    
    background-cover;
    width:900px;
    height:auto;
    margin:auto;
    display:block;
    floting:right     
         

    }
    


