#homePage {
    display:none;
}
#homePage:target{
    display:block;
}
#homePage:target~ #formPage{
    display:none;
}
.btn {
    padding:10px 20px;
    background-color:hotpink;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
    
       body { background-color: aliceblue;
         color: white;
        font-size:40px;
        animation:upMotion 1.5s ease-in-out;
            }
@keyframes upMotion{
    from{
        transform:translateY(100%);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}
       
    h1,h2,h3{color: black;
              font-size:50px;
    }
    

    div.class{
        background-color:lightblue;
        color: white;
        font-size:40px;
        width:fit-content;
        margin:30px;
}


    header{ background-color: lightpink;
            color: black;
            font-size:50px;
            text-align:center;
    }
    nav{  text-align:center;
          padding:12px;
          
       }

nav a{ 
    color:black;
    text-decoration:none;
    color:black;
    font-size:40px;
    font-weight:bold;
    margin:3px 18px;
    background-color:hotpink;
    display:inline-block;
    }

nav a:hover{
         color:white;
         transform:translateX(100px);
         animation:slideln 0.20s ease forwards;
         
}

    footer{ background-color:lightpink;
            color: black;
            font-size:30px;
            text-align:center;
    }

    p {
        background-color:lightblue;
        color: white;
        font-size:40px;
        width:fit-content;
      }

    ul,li{ background-color: lightblue;
           color: white;
           width:fit-content;
           text-align:left;
           margin:10px
    }

    .keypoints{font-size:40px;
               background-color:lightblue;
               color:black;
    }


     img{
    
    background-cover;     
    width:70%;
    height:auto;
    margin:auto;
    display:block;
        
    }

.dark-btn {
    padding:15px 30px;
    font-size:18px;
    border-radius:10px;
    border:none;
    cursor:pointer;
    backgrounde-color:black;
    color:white;
    position:fixed;
    top:15px;
    right:15px;
}
.dark { background-color:black;
      color:white;
     }
    

textarea{width:100%;
         height:120px;
         padding:10px;
         font-size:16px;
        }
button{
    padding:15px 30px;
    font-size:18px;
    border-radius:10px;
    border:none;
    cursor:pointer;
    backgrounde-color:black;
    color:white;
    position:fixed;
    top:15px;
    left:15px;
    
}

    

    


